.header{
  background-color: darkblue;
  color: white;
  height: 80px;
  max-width: 100%;
  padding-inline: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1{
    margin: 0;
  }
}
